.page-header
  = link_to 'http://arstechnica.com/security/2014/02/dear-asus-router-user-youve-been-pwned-thanks-to-easily-exploited-flaw/' do
    %blockquote
      Dear Asus router user: You’ve been pwned, thanks to easily exploited flaw
      %small Ars Technica article
.row
  .col-lg-4.col-md-5
    = render 'warning'
  .col-lg-8.col-md-7
    = render 'message'
%hr
- if @ips
  [redacted: #{@ips.count} ftp links, directly to files of people with these routers, open to the entire internet]
- else
  = render 'list', locals: { ips: @ips }
